*
  margin 0
  padding 0
  box-sizing border-box

  fontFamily = roboto,Lato,sans-serif;
  primaryColor = #ce3d3e;         //主色
  darkerPrimaryColor = #ce3d3e;   //更深的主色?
  accentColor = #ce3d3e           //强调色
