@import "../../assets/theme.styl"
.find-page
  position fixed
  width 100%
  height 100%
  .swiper-container
    padding-bottom: 108px !important;
    .vux-swiper
      height 100%
      overflow initial
    .vux-swiper-item
      overflow-y auto
